*,
*:before,
*:after {
	margin: 0;
	padding: 0;
}

body {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1 {
	margin: 10px;
	color: green;
}

h2 {
	margin-bottom: 20px;
}
